#video-chat-container {
    position: relative;
}

#remote-video {
    height: 40vw;
    max-width: 40vw;
}

#local-video {
    height: 5vw;
    max-width: 5vw;
    position: absolute;
    bottom: 5%;
    left: 3%;
}
.no-remote-vid {
    display:none;
}