body {
    text-align: center
}

hr {
    margin-top: 0.2em;
    margin-bottom: 0.2em;
}

#room-selection-container {
    justify-content: center;
    display: grid;
}

#active-users {
    width: 19.5%;
}

#active-chat-container {
    width:100%;
}

#chat-room-container {
    display: flex;
    height: 70vh;
    height: fit-content;
    position: relative;
}

#chat-container {
    height: 90%;
}

.small-local-video {
    position: absolute;
    left: 0;
    bottom:0;
    height: 7vw;
    width: 7vw;
}

#menu {
    text-align: initial;
    position: relative;
    background-color: bisque;
    width: 17vw;
}

#menu-button {
    position: absolute;
    right: 0;
    height: fit-content;
}

.user {
    padding: 0.4em;
}

#input-message {
    width: 73%;
    border-radius: 10px;
}

#send-button {
    width: 10%;
    border-radius: 50%;
}

.outgoing-msg, .incoming-msg {
    width: fit-content;
    border-radius: 7px;
    padding: 5px;
}

#messages-container {
    display: grid;
    padding: 5px;
    overflow-y: auto;
}

.message-box-holder {
    display: block;
}

.outgoing-msg {
    background-color: blue;
    float: right;
}

.incoming-msg {
    float: left;
    background-color: gainsboro;
}

#input-message-container {
    display: flex;
    width: 17vw;
    position: absolute;
    bottom: 0;
}

.disp-none {
    display:none !important;
}
