body {
    text-align: center
}

#room-selection-container {
    justify-content: center;
    display: grid;
}

#active-users {
    width: 19.5%;
}

#active-chat-container {
    width: 80%;
}

#chat-room-container {
    display: flex;
    height: 70vh;
}

#chat-container {
    height: 90%;
}

#video-container {

}

.small-local-video {
    position: absolute;
    height: 8vw;
    width: 8vw;
}


#input-message {
    border-radius: 10px;
}

.disp-none {
    display:none !important;
}
