#video-chat-container {
    position: relative;
}

#remote-video {
    height: 40vw;
    max-width: 40vw;
}

#local-video {
    height: 8vw;
    max-width: 8vw;
    position: absolute;
    bottom: 3%;
    left: 3%;
}

.no-remote-vid {
    display:none;
}

.only-local-vid {
    height: 40vw;
    max-width: 40vw;
}